/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* starter css for fonts and text sizes + background colour */
h1 {
    font-family: lato, sans-serif;
    font-size: 2.027rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

h2 {
    font-family: lato, sans-serif;
    font-size: 1.802rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

h3 {
    font-family: lato, sans-serif;
    font-size: 1.424rem;
    text-transform: uppercase;
}

p {
    font-family: karla, sans-serif;
    font-size: 1rem;
}
body {
    background-color: #f3f0e9;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.3;
}

img {
    max-width: 100%;
    height: auto;
}

/* header styles */

header {
    background-color: #000000;
}

header img {
    display: block;
    justify-self: center;
    padding: 2rem;
    animation: slideIn 1.5s ease;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 2rem 1.2rem;
}

header nav ul li {
    font-family: lato, sans-serif;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
}

/* hover and active states for nav links */
header nav ul li:hover {
    color: #d69e3d;
    transition: color 0.5s ease-in-out;
}

header nav ul li:active {
    color: #966f2c;
}

/* "experience" section styles */
.experience {
    background-image: url(../images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: #ffffff;
    padding: 3rem;
    text-align: center;
}

.experience h1 {
    font-weight: 900;
}

.experience button {
    padding: 0.8rem 1.5rem;
    border: solid #ffffff;
    margin: 1rem;
    background-color: #ffffff;
    color: #000000;
    font-family: karla, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
}

/* hover and active states for buttons */
.experience button:hover {
    color: #ffffff;
    background-color: #966f2c;
    border: solid #ffffff;
    transition: all 0.5s ease-in-out;
}

.experience button:active {
    background-color: #966f2c;
    color: #ffffff;
}

/* "welcome" section styles */
.welcome {
    display: block;
    padding: 3rem 1rem 1rem;
}

.welcome h3 {
    color: #d69e3d;
    font-weight: 500;
}

.welcome h1 {
    color: #000000;
    font-weight: 700;
}

.welcome-img {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.welcome-img img:first-child{
    grid-column: span 2;
    grid-row:auto;
}

/* "offer" section styles */
.offers {
    text-align: center;
    padding: 2rem;
}

.offers h3 {
    color: #d69e3d;
    font-weight: 500;
}

.offers h1, h2 {
    color: #000000;
    font-weight: 700;
}

/* individual offers styles */
.offers img {
    display: flex;
    justify-self: center;
    width: 200px;
    padding: 0.8rem;
}

.offer-1 {
    padding: 1.5rem 0;
}

.offer-2 {
    padding: 1.5rem 0;
}

.offer-3 {
    padding: 1.5rem 0;
}

/* "explore" section styles */
.explore {
    background-image: url(../images/coffee-shop.jpeg);
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2rem;
}

.explore h3 {
    color: #d69e3d;
}

.explore h1 {
    color: #ffffff;
    font-weight: 900;
}

.explore .menu {
    padding: 2rem;
}

.explore .menu button {
    padding: 0.8rem 1.5rem;
    border: solid #ffffff;
    margin: 1.8rem;
    background-color: #ffffff;
    color: #000000;
    font-family: karla, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
}

.explore .locations {
    padding: 2rem;
}

.explore .locations button {
    padding: 0.8rem 1.5rem;
    border: none;
    margin: 1.8rem;
    background-color: transparent;
    border: solid #ffffff;
    color: #ffffff;
    font-family: karla, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
}

/* hover and active states for explore buttons */
.explore .menu button:hover {
    color: #ffffff;
    background-color: #966f2c;
    transition: all 0.5s ease-in;
}

.explore .menu button:active {
    color: #ffffff;
    background-color: #966f2c;
    border-color: #966f2c;
}

.explore .locations button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.5s ease-in;

}

.explore .locations button:active {
    background-color: #966f2c;
    border-color: #966f2c;
}

/* "about" section styles */
.about {
    padding: 5rem 1rem;
}

.about h3 {
    color: #d69e3d;
    padding-top: 1rem;
}

.about h1 {
    color: #000000;
    font-weight: 900;
}

.about p {
    padding: 0.5rem 0;
}

.about button {
    padding: 0.8rem 1.5rem;
    border: none;
    margin: 0.8rem 0;
    background-color: #000000;
    color: #ffffff;
    font-family: karla, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
}

/* hover and active states for about buttons */
.about button:hover {
    background-color: #966f2c;
    transition: all 0.5s ease-in;

}

.about button:active {
    background-color: #966f2c;
}

/* "testimonials" section styles */
.testimonials {
    background-color: #000000;
    padding: 5rem 1rem;
}

.testimonials h3 {
    color: #d69e3d;
    padding-left: 1rem;
}

.testimonials h1 {
    color: #ffffff;
    font-weight: 600;
    padding-left: 1rem;
}

.testimonials p {
    color: #ffffff;
    padding-left: 1rem;
}

/* individual testimonial styles */
.testimonials .jane {
    background-image: url(../images/testimonial-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 0;
    padding-top: 400px;
    padding-bottom: 2rem;
}

.testimonials .scott {
    background-image: url(../images/testimonial-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 0;
    padding-top: 400px;
    padding-bottom: 2rem;
}

.testimonials .susie {
    background-image: url(../images/testimonial-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 0;
    padding-top: 400px;
    padding-bottom: 2rem;
}

/* footer styles */
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem 1rem 5rem;
    border-top: solid rgb(70, 70, 70) 1px;
}


/* animation keyframe */
@keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

/* media queries for tablets */
